// Variables

// colors
$white:#fff;
$primary-color: #CC005C;
$secondary-color:#7A0037;
$hover-color:#19aca4;


// mixens
@mixin memberandrecent {
    display: grid;//repeated
    grid-template-columns: 1fr;
    place-items: center;
    border-bottom: 1px solid rgb(230, 229, 229);
    padding: 20px;
}

@mixin member-image {
    border-radius: 50%;
    width: 20%;
    margin-bottom: 5px;
}

@mixin p-sizing {
    margin: 0;
    font-size: 15px;
}
// overlay js
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.7);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
// hidden js

.hide{
    visibility: collapse;
    position: absolute;
}
.show{
    visibility: visible;
}

// keyframes
@keyframes ringer {
    0%{
        transform: scale(1s);
    }
    25%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform:  scale(1);
    }
}
// ====PAGE LOAYOUT =====

header{
    grid-area: header;
}
aside{
    grid-area: aside;
}
main{
    grid-area: main;
}
.main-wrap{
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "aside aside aside aside"
        "main main main main";
    border: 1px solid rgb(230, 229, 229);
}
// overlay

/* =====TOP-NAV STYLES =======*/

nav.top-nav{
    display: grid;
    grid-template-columns:3fr 1fr 3fr;
    padding: 10px;
    background-color: $primary-color;
    color: $white;
}

.user-icon-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-left: 1px solid #FF479A;
    padding-left:5px ;
}
/* Nav title styles */
h1{
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    align-self: center;
}

h3{
    margin: 0;
    margin-top:10px ;
}
span.heading-span,
sup,
h3.heading-h3{
    font-weight: 100;
}
sup{
    font-size: 10px;
}

h3.heading-h3{
    font-size: 12px;
    margin-left: 10px;
}
/* Head icon styles */
.top-icon{
    border-radius: 50%;
    width: 100%;
    max-width: 50px;
}
// notification styles
.nav-svg{
    display: grid;
    grid-template-columns:1fr; 
}

.notification-dot{
    fill: #28faf0;
    width: 12%;
    max-width: 7px;
    place-self: end;
    height: 65%;
    padding-right: 5px;
    position: relative;
    bottom: 2px;
}

.bell-icon{
    place-self: end;
    margin-right: 5px;
    svg{
        width: 90%;
        fill: $white;
        max-width: 20px;
    }
}



.bell-icon:hover{
    animation: ringer .5s  forwards;
    transform-origin: 50% 30%;
}

/* =====SIDE-NAV STYLES =======*/

aside.side-nav{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    padding: 10px;
    background-color: $secondary-color;
    place-items: center;
    justify-content: center;
}

a.side-icons{
    width: 50%;
    fill: $white;
    transition: transform .5s;
    &:hover{
        transform: scale(1.2);
    }
}

/* Top-body heading styles */

h3.top-body-h3{
    font-size: 15px;
    font-weight: 400;
    margin-left:20px ;
    margin-bottom: 30px;
}

.alert-display{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: $primary-color;
    border-radius: 5px;
    font-size: 13px;
    place-items: center;
    margin: 10px;
    color: $white;
    .alert{
        position: relative;
        display: inline-block;
    }
    
}

.dropbtn {
    cursor: pointer;
  }

  .dropdown-content,
  .dropdown-content-top {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding-left: 0;
  }

  .dropdown-content{
    width: 250px;
    top: 210px;
    background-color: rgba(25,172,164,0.95);
  }
  .dropdown-content-top{
      width: 150px;
      background-color: rgba(204,0,92,0.8);
      border: 2px solid #fff;
  }

  .dropdown-content li,
  .dropdown-content-top li {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    border-bottom: 1px solid rgb(230, 229, 229);
    transition: background-color .5s;
    &:hover{
        background-color: #7A0037;
    }
  }

.dropdown-content:after, 
.dropdown-content:before {
    bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none
}

.dropdown-content:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color:rgba(25,172,164,0.95);
	margin-left: -20px;
}
.dropdown-content:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: rgba(25,172,164,0.95);
	border-width: 15px;
	margin-left: -26px;
}

p{
    font-weight: 100;
}

span.alert-span{
    font-weight: 400;
}

span.close-alert{
    font-weight: 100;
    font-size: 10px;
    justify-self: end;
    margin-right: 13px;
    &:hover{
        cursor: pointer;
    }
}

/* Traffic styles */
.dash{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
h3.body-h3{
    font-weight: 600;
    font-size: 12px;
    margin-left: 15px;
    margin-top:20px;
    margin-bottom: 5px;
}

.blank-dash{
    border-left: 1px solid rgb(230, 229, 229);
    border-bottom: 1px solid rgb(230, 229, 229);
    /* box-shadow: inset 0 0 3px rgb(171, 171, 171); */
    background-color: rgba(171, 171, 171, 0.1);
    height: 80%;
}

h4{
    font-weight: 400;
    font-size: 12px;
    place-self: center;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h4:hover{
    background-color: $hover-color;
    color: $white;
    border-radius: 20px;
    cursor: pointer;
}

.time{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: center;
}

.chart-1,
.chart-2{
    padding: 10px 10px 20px 10px;
    border-bottom: 1px solid rgb(230, 229, 229);
    
}

.chart-3{
    padding-top:0;
    border-bottom: 1px solid rgb(230, 229, 229);
}

// social stats
.social-stat-block{
    border-bottom: 1px solid rgb(230, 229, 229);
    padding-bottom: 20px;
}

.social-svg{
    display: inline-block;
     max-width: 30px;
     min-width: 30px;
     min-height: 30px;
     max-height: 30px;
     background-color: $primary-color;
     fill: $white;
     border-radius: 50%;
     padding: 20px;
}

.facebook,
.instagram,
.twitter{
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid  rgba(148, 148, 148, 0.6);
    padding: 10px;
    margin: 10px;
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    transition: transform .5s;
    &:hover{
        transform: scale(0.9);
    }
}

.socials{
    margin-left: 20px;
}

.social-block-title{
    color: $primary-color;
    font-size: 20px;
    font-weight: 600;
 }

strong{
    color: rgb(148, 148, 148);
    font-size: 35px;
    font-weight: 300;
}

// new members
.member-block{
    @include memberandrecent();

    img{
        @include member-image();
    }

    p{
        @include p-sizing();
    }

    a{
        text-decoration: none;
        color: $secondary-color;
    }

    .nameandemail{
        text-align: center;
    }

    .date{
        font-size: 13px;
    }

}

// recent activity 
.recent-activity-block{
    @include memberandrecent();
    text-align: center;

    img{
        @include member-image();
    }

    p{
       @include p-sizing();
    }

    span{
        font-weight: 400;
    }

    span.arrow-span{
        visibility: hidden;
    }
}

// message user
form{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border-bottom: 1px solid rgb(230, 229, 229);
    label{
        visibility: hidden;
        position: absolute;
    }
    input,
    textarea{
        outline: none;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid rgba(148, 148, 148, 0.3);
        background-color: rgba(148, 148, 148, 0.1);
    }
    input{
        width: 100%;
        box-sizing: border-box;
    }
    input::placeholder,
    textarea::placeholder{
        color: rgba(148, 148, 148, 0.8);
    }
    input[type="submit"]{
        background-color: $primary-color;
        color: $white;
        font-weight: 100;
        transition: transform .5s;
        &:hover{
            background-color: $hover-color;
        }
        &:active{
            transform: scale(0.9);
        }
    }

}
// autocomplete style
.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index:2;
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    color: #ffffff;
  }
// settings
.toggler-1,
.toggler-2{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 10px;
    // height: 50px;
    label{
        padding-top: 10px;
        margin-left: 15px;
        font-size: 15px;
    }
}
.toggle-button-cover{
    position: relative;
    height: 80px;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 10px;
}
.button-cover, 
.knobs, 
.layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button{
    position: relative;
    top: 5%;
    max-width: 88px;
    min-width: 88px;
    height: 36px;
    overflow: hidden;
    border-radius: 100px;
}

.checkbox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs{
    z-index: 2;
}

.layer{
    width: 100%;
    background-color: $primary-color;
    transition: 0.3s ease all;
    z-index: 1;
}

#toggle-1 .knobs:before,
 #toggle-1 .knobs:after, 
 #toggle-1 .knobs span,
 #toggle-2 .knobs:before,
 #toggle-2 .knobs:after, 
 #toggle-2 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    max-width: 20px;
    height: 10px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 50%;
    transition: 0.3s ease all;
}

#toggle-1 .knobs:before, #toggle-1 .knobs:after,
#toggle-2 .knobs:before, #toggle-2 .knobs:after{
    color: $white;
    z-index: 1;
}

#toggle-1 .knobs:before,
#toggle-2 .knobs:before{
    content: 'ON';
    left: 4px;
}

#toggle-1 .knobs:after,
#toggle-2 .knobs:after
{
    content: 'OFF';
    right: 4px;
}

#toggle-1 .knobs span,
#toggle-2 .knobs span{
    max-width: 20px;
    left: 55px;
    background-color: $white;
    z-index: 2;
}

#toggle-1 .checkbox:checked + .knobs span,
#toggle-2 .checkbox:checked + .knobs span{
    left: 4px;
    background-color: $white;
}

#toggle-1 .checkbox:checked ~ .layer,
#toggle-2 .checkbox:checked ~ .layer{
    background-color: $hover-color;
}

// time zone
.select{
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}
select{
    width: 100%;
    outline: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgba(148, 148, 148, 0.3);
    background-color: rgba(148, 148, 148, 0.1);
    color: rgba(148, 148, 148, 0.9);
    box-sizing: border-box;
}

.btn-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .button-1{
    background-color: $primary-color;
    color: $white;
    font-weight: 100;
    &:hover{
        background-color: $hover-color;
    }
    }
    button{
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid rgba(148, 148, 148, 0.3);
        margin: 10px;
        transition: transform .5s;
        &:active{
            transform: scale(0.9);
        }
    }
    .button-2{
        background-color: rgba(148, 148, 148, 0.9);
        color: $white;
        transition: all .5s;
        &:active{
            background-color:rgba(148, 148, 148, 0.1);
            color: #000;
        }
    }
    }

@media(min-width:768px){
    // =====PAGE LAYOUT ======
    .main-wrap{
        display: grid;
        grid-template-columns: 10% 25% 25% 40%;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header header"
            "aside main main main"
            "aside main main main";
    }
// top style
    nav.top-nav{
        grid-template-columns: 3fr 1fr 1fr;
        padding-right: 0;
        h1{
            font-size: 1.5rem;
            align-self: center;
        }

        .notification-dot{
            bottom: 0;
            left: 0;
            margin-right: 5px;
        }   

        .bell-icon{
            place-self: end;
            width: 30px;

            svg{
                width: 70%;
            }
        }

        .dropdown-content {
            width: 185px;
        }
    }

// dashboard
    header.dash{
        grid-template-columns: 1fr 5fr;

        h3.top-body-h3{
            font-weight: 700;
            font-size: 15px;
        }
    }
    .alert-display{
        p{
            place-self: start;
            margin-left: 15px;
        }
    }
    // alert
    .dropdown-content {
        top: 170px;
      }
// traffic
    div.traffic{
        display: grid;
        grid-template-columns: 4fr 2fr;
    }

    aside.side-nav{
        grid-template-columns:1fr; 
        grid-template-rows: 60px 60px 60px;
        place-items: start;
        justify-items: center;
    }
// charts

    .chart-1{
        border: none;
    }
    .chart-2{
       margin: auto;
       width: 350px;
       max-width: 420px;
    }

    .chart-2,
    .chart-3{
        border: none;
       padding: none;
    }

    .chart-3{
        width: 280px;
        max-width: 300px;
        position: relative;
        bottom: 45px;
        left: 30px;
    }

    .charts-first,
    .charts-second{
        border: 1px solid rgb(230, 229, 229);
        height: 250px;
    }

    .charts-first{
        border-right: none;
    }

    .charts-second{
        border-right: none;
    }

    .charts{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    // social stats
    .social-stat-block{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

    .facebook,
    .instagram,
    .twitter{
        width: 80%;
        margin: 5px;
    }

    .social-svg{
        display: inline-block;
         max-width: 25px;
         min-width: 25px;
         min-height: 25px;
         max-height: 25px;
         padding: 15px;
         align-self: center;
    }

    .social-block-title{
        font-size: 15px;
     }
    
    strong{
        font-size: 35px;
    }

    .socials{
        margin-left: 10px;
    }

    // new members

    .member-block{
        grid-template-columns: 70px 5fr 1fr;
        place-items: start;

        img{
            width: 100%;
        }
    }

    .nameandemail{
        margin-left: 10px;
        align-self: center;

        p{
            text-align: start;
        }
    }

    p.date{
        justify-self: end;
        align-self: center;
    }

    // recent activity

    .recent-activity-block{
        grid-template-columns: 70px 3fr 1fr;
        place-items: start;

        img{
            width: 100%;
        }

        span.arrow-span{
            color: $primary-color;
            justify-self: end;
            align-self: center;
            visibility: visible;
        }

        p{
            text-align: left;
        }
    }

    .activity-and-date{
        align-self: center;
        margin-left: 10px;
    }

    // toggler

    div.toggler-1,
    div.toggler-2{
        grid-template-columns: 2fr 3fr;
    }

    // sections headings

    h3.body-h3{
        font-size: 15px;
        font-weight: 600;
    }
}

@media (min-width: 1024px){

    // top style
    nav.top-nav{
        grid-template-columns: 5fr 1fr 1fr;
        padding-right: 0;
        h1{
            align-self: center;
        }

        h3.heading{
            place-self: center;
        }

        a.bell-icon{
            width: 30px;
            place-self: end;
            top: 10px;
            right: 5px;
        }
    }

// dashboard
    header.dash{
        grid-template-columns: 1fr 7fr;
    }

    .chart-2{
        width: 400px;
        max-width: 410px;
    }

    .chart-3{
        width: 300px;
        left: 20px;
    }

    .new-member{
        grid-area: new-member;
    }

    .recent-activity{
        grid-area: recent-activity;
    }

    .message-user{
        grid-area: message-user;
    }

    .settings{
        border-left: 1px solid rgb(230, 229, 229);
        grid-area: settings;

        .toggler-2{
            margin-top: 20px;
        }
    }

    .bottom-page{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
        grid-template-areas: 
            "new-member new-member recent-activity recent-activity"
            "message-user message-user settings settings"
    }

    .social-stat-block{
        border-right: rgb(230, 229, 229);
    }

    // new-member
    .member-block{
        width: 533px;
    }

    .recent-activity{
        border-left: 1px solid rgb(230, 229, 229);
    }

    span.arrow-span{
        visibility: visible;
    }

    form{
        border: none;
    }

    // aside

    aside.side-nav{
        grid-template-columns:70px; 
        width: 60px;
    }

    // charts

    .chart-3{
        left: 70px;
        bottom: 50px;
    }
}